<div class="home">
    <div class="jumbo">
        <div class="vertical-align">
            <h1>Introducing Transparency to <br>Real Estate Investing</h1>
            <p><a href="/invest" class="btn">Sign Up</a> <a href="/get-funding" class="btn">Get Funding</a></p>
        </div>
    </div>
    <section class="content text-center">
        <h2>How Does CrowdBite Work?</h2>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center overlay-text icons">
                    <div class="icon-wrapper">
                        <i class="fa fa-users icon-large"></i>
                    </div>
                    <h3>1. Join Network</h3>
                    <p>
                        Sign-up for free by completing an online profile.  Receive exclusive access to deals and additional benefits based upon your profile, investment criteria, and membership status.
                    </p>
                </div>
                <div class="col-sm-3 text-center overlay-text icons">
                    <div class="icon-wrapper">
                        <i class="fa fa-search icon-large"></i>
                    </div>
                    <h3>2. Select Investments</h3>
                    <p>
                        Browse and evaluate different investments.  Skillfully analyze deals with the help of the “crowd” and draw conclusions about the property’s location, risk, and return projections that YOU are comfortable with.
                    </p>
                </div>
                <div class="col-sm-3 text-center overlay-text icons">
                    <div class="icon-wrapper">
                        <i class="fa fa-arrows-h icon-large"></i>
                    </div>
                    <h3>3. Transact Online</h3>
                    <p>
                        Execute all parts of the transaction securely right on our website, including signing legal documents and transferring funds.   Transferred funds are held in escrow until 100% of the funding goal is reached.
                    </p>
                </div>
                <div class="col-sm-3 text-center overlay-text icons">
                    <div class="icon-wrapper">
                        <i class="fa fa-bar-chart-o icon-large"></i>
                    </div>
                    <h3>4. Manage Portfolio</h3>
                    <p>
                        Through your investor dashboard, you will be able to track the status of your investment, download tax documents, and receive distributions.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="quotes text-center">
        <div class="vertical-align">
            <blockquote>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h2>"CrowdBite helps you filter out unnecessary information and focus on the information you want. You feel a lot more confident moving forward as a result."</h2>
                        <small>Jamal Mahmood, Financial Planner & Investor</small>
                    </div>
                </div>
            </blockquote>
        </div>
    </section>
    <section class="cta text-center">
        <h2>
            Start Investing Today.
        </h2>
        <p><a href="/signup" class="btn">Get Started</a></p>
    </section>
</div>