<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h1>
                        Welcome, Investors
                    </h1>
                    <a href="/signup" class="btn">Signup</a>
                </div>
                <hr>
                <p>
                    Peloton Street welcomes potential investors to our online real estate marketplace. We provide you with access to deals and the opportunity to diversity their portfolio by making smaller investments across multiple properties. For years, savvy real estate dealmakers have been putting together these types of deals through private channels, unavailable to the general public. Lucky for you, recent changes in government regulation have dramatically changed how dealmakers can raise capital for new projects providing accredited investors unprecedented access to investment opportunities.
                </p>
                <h1>
                    The Investment Process
                </h1>
                <ol>
                    <li>
                        Sign Up. Complete a free online profile to receive full access to Peloton Street investments. We offer debt and equity investments with investment minimums typically around $10,000. During this process, we collect information from you to understand your accreditation status, investment history, and risk profile. This enables us to better understand you as an investor.
                    </li>
                    <li>
                        Get to Know Our Sponsors. Peloton Street has partnered with a number of world class and accomplished real estate owners, operators, developers, and entrepreneurs (“Sponsors”) in order to bring you the best real estate investment opportunities. We encourage you to learn more about these companies, their investment style, and track record by looking at their profiles and marketing materials that we have uploaded onto our site. We think you will be pleased.
                    </li>
                    <li>
                        Review Investments. Our members receive access in the marketplace and investment specific information. For each opportunity, we provide specific property information, anticipated financial returns, and hold period. Oftentimes, Peloton Street will host Webinars with the Sponsor to discuss the opportunity and answer questions from our members during the Webinar or via email.
                    </li>
                    <li>
                        Commit Funds. After you find an opportunity that you are comfortable with, you can complete the entire transaction online. Funds are transferred to escrow and we may request additional documents to verify your accreditation status. All signatures are collected securely and seamlessly online.
                    </li>
                    <li>
                        Fundraising Continues. Following your investment, Peloton Street will continue to raise funds for the remainder of the offering amount.
                        <ol>
                            <li>
                                If funding limits are reached, you are now officially a real estate investor! Peloton Street will provide you with frequent updates of your investment status and cash distributions.
                            </li>
                            <li>
                                If funding limits are not reached, 100% of funds are returned without any hidden fees or charges.
                            </li>
                        </ol>
                    </li>
                    <li>
                        We Continue Working for You. Real estate is a highly specialized investment process from beginning to end. At Peloton Street, we believe that all investors – no matter how big or small - deserve the opportunity to invest in real estate professionally, where high skilled asset managers are assigned to monitor an investment’s performance and look after your best interest. We structure all of our deals with a “carried interest,” so we make money when you make money. It’s only the logical way to invest in real estate and you should expect nothing less when proven industry leaders are working on your side. <a href="/team" title="Team">Click here</a> to learn more about the expertise of our founding team.
                    </li>
                </ol>
                <hr>
                <div class="text-center">
                    <h1>Sign up now to get started.</h1>
                    <a href="/signup" class="btn">Signup</a>
                </div>
            </div>
        </div>
    </div>
</section>
