<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">
                <h1>Reset Password</h1>
                <form name="form" novalidate data-ng-submit="resetPassword(form)" class="centered">
                    <!--[if IE 8]><h5>Password</h5><![endif]-->
                    <p class="alert alert-danger" ng-show="(form.password.$error.minlength || form.password.$error.required) && resetSubmitted">
                        Password must be at least 3 characters.
                    </p>
                    <p class="alert alert-danger" ng-show="form.password.$error.mongoose">
                        {{ errors.password }}
                    </p>
                    <label for="password">
                        <i class="fa fa-lock"></i>
                    </label>
                    <input type="password" name="password" class="form-control last" ng-model="user.password" ng-minlength="3" placeholder="Password" required mongoose-error/>
                    <!--[if IE 8]><h5>Confirm Password</h5><![endif]-->
                    <p class="alert alert-danger" ng-show="form.passwordConfirm.$error.passwordMatch && resetSubmitted">
                        Passwords must match.
                    </p>
                    <label for="passwordConfirm">
                        <i class="fa fa-lock"></i>
                    </label>
                    <input type="password" name="passwordConfirm" class="form-control last" placeholder="Confirm Password"  ng-model="passwordConfirm" cc-password-confirm/>
                    <div class="actions">
                        <button type="submit" class="btn btn-sm">Reset Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>