<section class="page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>Please Authenticate Your Account</h1>
                <p>
                    Thank you for signing up with CrowdBite.
                </p>
                <p>
                    A validation e-mail has been sent to your e-mail address. In order to gain full access to the site, you will need to follow the instructions in that message.
                </p>
                <p>
                    If you do not see the email in your inbox, please check your spam folder. If you still cannot find the email, please email us at <a href="mailto:support@crowdbite.co">support@crowdbite.co</a> or call us at our toll-free number (xxx) xxx-xxxx.
                </p>
            </div>
        </div>
    </div>
</section>